@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

.custom-container {
    max-width: 900px; /* Set your desired maximum width */
    margin: 0 auto; /* Center the container horizontally */
}

p{
    margin: 0px;
    padding: 0px;
}

.row{
    padding-top: 60px !important;
}

.Lside {
    background-color: rgb(66, 66, 66) !important;
    color: white;
}

.myimg {
    display: flex;
    align-items: center;
    justify-content: center;

}

.myimg img {
    margin: 10px;
    width: 125px;
    height: 125px;
    border: 2px solid white;
    border-radius: 50%;
    z-index: 1;
}

.Rside {
    /* background-color: rgb(255, 255, 255) !important; */
    z-index: 2;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    position: relative !important;
}

.Lhead {
    margin: 15px 0px 10px 0px;
}

.addr, .phone, .email, .website, .familiar, .proficient {
    line-height: 0.3;
    font-size: larger;
}

.link a{
    text-decoration: none;
    color: white;
}

.link a:hover{
    color: #8e1dff;
}

.proficient {
    margin: 10px 0px 15px 0px;
}

.familiar{
    margin: 15px 0px 10px 0px;
    padding-bottom: 5px;
}


.Lside p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.myname{
    margin-top: 75px;
}

.techSkillParent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0px 10px 0px;    
}

.techSkill{
    margin-bottom: 5px;
}

.techSkill p{
    margin-bottom: 3px;
}


.description{
    text-align: justify;
    /* width: 75%;  */
}

.employeHistory h6{
    margin-bottom: 0px;
}

.hr{
    opacity: 1;
    height: 2px !important;
    padding: 0px;
    margin-top: 0px;
    background-color: #7f00fd !important; 
}

.companyHead{
    display: flex;
    gap: 15px;
    justify-content:space-between;
}
.companyName p, .date p{
    margin-bottom: 0px;
}

.companyName p{
    font-weight: bold;
}

.date p{
    font-weight: bold;
}


.workLocation p{
    text-align: center;
    border: 2px solid blueviolet;
    background-color: #8e1dff;
    border-radius: 15px;
    width: 90px;
    color:  white;
}

.techSkill .progress-bar {
    background-color: #8e1dff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.instituteName p, .date p{
    margin-bottom: 0px;
}

.instituteName p{
    font-weight: bold;
}

.instituteHead{
    display: flex;
    gap: 15px;
    justify-content:space-between;

}

.education h6{
    margin-top: 0px;
    margin-bottom: 0px;


}

.projects h6{
    margin-top: 0px;
    margin-bottom: 0px;

}

.projectName p{
    font-weight: bold;
}

.brd-hr{
    border-bottom: 3px solid blueviolet;
    margin-bottom: 15px !important;
}


/* Create a side styler */

.design{
    position: absolute;
}
.first{
    clip-path: polygon(100% 0, 0 0, 100% 50%);
    background-color: blueviolet !important;
    height: 30rem;
    width: 60rem;
    right: 10px !important;
    top: 0%;
    right:0%;
    z-index: 1;
}

.second{
    clip-path: polygon(100% 0, 0 0, 0 50%);
    background-color: gray !important;
    height: 20rem;
    width: 50rem;
    top: 0%;
    left:0%;
    z-index: 0;
}